<div>
  <h2 id="page-heading" data-cy="AccountProviderHeading">
    <span jhiTranslate="laserApp.accountProvider.home.title">Account Providers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2 refresh-button" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="laserApp.accountProvider.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-account-provider create-article-button"
        [routerLink]="['/account-provider/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="laserApp.accountProvider.home.createLabel"> Create a new Account Provider </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="accountProviders?.length === 0">
    <span jhiTranslate="laserApp.accountProvider.home.notFound">No accountProviders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="accountProviders && accountProviders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="laserApp.accountProvider.name">Name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let accountProvider of accountProviders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/account-provider', accountProvider.id, 'view']">{{ accountProvider.id }}</a>
          </td>
          <td>{{ accountProvider.name }}</td>
          <td class="text-end">
            <div ngbDropdown placement="bottom-right">
              <a class="btn btn-sm btn-icon-only" ngbDropdownToggle> </a>
              <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                <button
                  type="submit"
                  [routerLink]="['/account-provider', accountProvider.id, 'view']"
                  class="btn btn-info btn-sm dropdown-item"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  &nbsp;
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button
                  type="submit"
                  [routerLink]="['/account-provider', accountProvider.id, 'edit']"
                  class="btn btn-primary btn-sm dropdown-item"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  &nbsp;
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
                <button
                  type="submit"
                  (click)="delete(accountProvider)"
                  class="btn btn-danger btn-sm dropdown-item"
                  data-cy="entityDeleteButton"
                >
                  <fa-icon icon="times"></fa-icon>
                  &nbsp;
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="accountProviders && accountProviders.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
